*{
    padding: 0;
    margin: 0;
}
body{
    background-color:white;
    text-align: center;
    background-image: url('th.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color:black;
    background-color:white;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:rgb(250, 7, 7);;
    color: black;
    border-radius: 1rem;
    border: none;
    
}
#new-btn{
padding: 1rem;
    font-size: 1.25rem;
    background-color:rgb(250, 7, 7); ;
    color: black;
    border-radius: 1rem;
    border: none;

}
#mgs{
    color: rgb(250, 7, 7);
    font-size: 7vmin;
    font-family: bold;
}
.mgs-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}
.h{
    color:rgb(250, 7, 7); ;
}
